<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>gallery-url</key><string>http://image2talkapp.com/gallery-streams/nl</string><key>streams</key><dict>

<key>stream-1</key><dict><key>name</key><string>Korte reacties</string><key>subtitle</key><string>Ja, Nee, Help, Toilet</string><key>images</key><dict>

<key>image-1</key><dict><key>thumbnail</key><string>quick/yes_160</string><key>picture</key><string>quick/yes_768</string><key>display-text</key><string>ja</string><key>speech-text</key><string>ja</string><key>speech</key><string>speech/yes_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>quick/no_160</string><key>picture</key><string>quick/no_768</string><key>display-text</key><string>nee</string><key>speech-text</key><string>geen</string><key>speech</key><string>speech/no_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>quick/toilet_160</string><key>picture</key><string>quick/toilet_768</string><key>display-text</key><string>toilet</string><key>speech-text</key><string>Ik moet naar de wc</string><key>speech</key><string>speech/toilet_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>quick/help_160</string><key>picture</key><string>quick/help_768</string><key>display-text</key><string>help</string><key>speech-text</key><string>Ik heb hulp nodig</string><key>speech</key><string>speech/help_768</string></dict>
</dict></dict>


<key>stream-2</key><dict><key>name</key><string>Eten</string><key>subtitle</key><string>Zoet &amp; zout</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>food/biscuit_160</string><key>picture</key><string>food/biscuit_768</string><key>display-text</key><string>koekje</string><key>speech-text</key><string>Ik wil een koekje</string><key>speech</key><string>speech/biscuit_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>food/boiled-potatoes_160</string><key>picture</key><string>food/boiled-potatoes_768</string><key>display-text</key><string>gekookte aardappelen</string><key>speech-text</key><string>Ik wil gekookte aardappelen</string><key>speech</key><string>speech/boiled-potatoes_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>food/bread_160</string><key>picture</key><string>food/bread_768</string><key>display-text</key><string>brood</string><key>speech-text</key><string>Ik wil brood</string><key>speech</key><string>speech/bread_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>food/burger_160</string><key>picture</key><string>food/burger_768</string><key>display-text</key><string>hamburger</string><key>speech-text</key><string>Ik wil een hamburger</string><key>speech</key><string>speech/burger_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>food/butter_160</string><key>picture</key><string>food/butter_768</string><key>display-text</key><string>boter</string><key>speech-text</key><string>Ik wil boter</string><key>speech</key><string>speech/butter_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>food/cake_160</string><key>picture</key><string>food/cake_768</string><key>display-text</key><string>taart</string><key>speech-text</key><string>Ik wil taart</string><key>speech</key><string>speech/cake_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>food/cheese_160</string><key>picture</key><string>food/cheese_768</string><key>display-text</key><string>kaas</string><key>speech-text</key><string>Ik wil kaas</string><key>speech</key><string>speech/cheese_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>food/chicken_160</string><key>picture</key><string>food/chicken_768</string><key>display-text</key><string>kip</string><key>speech-text</key><string>Ik wil kip</string><key>speech</key><string>speech/chicken_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>food/chicken-goujons_160</string><key>picture</key><string>food/chicken-goujons_768</string><key>display-text</key><string>kip goujons</string><key>speech-text</key><string>Ik wil kip goujons</string><key>speech</key><string>speech/chicken-goujons_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>food/chips_160</string><key>picture</key><string>food/chips_768</string><key>display-text</key><string>chips</string><key>speech-text</key><string>Ik wil chips</string><key>speech</key><string>speech/chips_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>food/chocolate_160</string><key>picture</key><string>food/chocolate_768</string><key>display-text</key><string>chocolade</string><key>speech-text</key><string>Ik wil chocolade</string><key>speech</key><string>speech/chocolate_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>food/chocolate-bar_160</string><key>picture</key><string>food/chocolate-bar_768</string><key>display-text</key><string>chocoladereep</string><key>speech-text</key><string>Ik wil een reep chocolade</string><key>speech</key><string>speech/chocolate-bar_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>food/crackers_160</string><key>picture</key><string>food/crackers_768</string><key>display-text</key><string>crackers</string><key>speech-text</key><string>Ik wil crackers</string><key>speech</key><string>speech/crackers_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>food/crisps_160</string><key>picture</key><string>food/crisps_768</string><key>display-text</key><string>chips</string><key>speech-text</key><string>Ik wil chips</string><key>speech</key><string>speech/crisps_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>food/egg_160</string><key>picture</key><string>food/egg_768</string><key>display-text</key><string>ei</string><key>speech-text</key><string>Ik wil een ei</string><key>speech</key><string>speech/egg_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>food/fish-fingers_160</string><key>picture</key><string>food/fish-fingers_768</string><key>display-text</key><string>vissticks</string><key>speech-text</key><string>Ik wil vissticks</string><key>speech</key><string>speech/fish-fingers_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>food/fried-egg_160</string><key>picture</key><string>food/fried-egg_768</string><key>display-text</key><string>spiegelei</string><key>speech-text</key><string>Ik wil een gebakken ei</string><key>speech</key><string>speech/fried-egg_768</string></dict>
<key>image-18</key><dict><key>thumbnail</key><string>food/ham_160</string><key>picture</key><string>food/ham_768</string><key>display-text</key><string>ham</string><key>speech-text</key><string>Ik wil ham</string><key>speech</key><string>speech/ham_768</string></dict>
<key>image-19</key><dict><key>thumbnail</key><string>food/ice-cream_160</string><key>picture</key><string>food/ice-cream_768</string><key>display-text</key><string>ijs</string><key>speech-text</key><string>Ik wil een ijsje</string><key>speech</key><string>speech/ice-cream_768</string></dict>
<key>image-20</key><dict><key>thumbnail</key><string>food/ice-cream-cone_160</string><key>picture</key><string>food/ice-cream-cone_768</string><key>display-text</key><string>ijsje</string><key>speech-text</key><string>Ik wil een ijsje</string><key>speech</key><string>speech/ice-cream-cone_768</string></dict>
<key>image-21</key><dict><key>thumbnail</key><string>food/ice-pop_160</string><key>picture</key><string>food/ice-pop_768</string><key>display-text</key><string>ijs pop</string><key>speech-text</key><string>Ik wil een ijs pop</string><key>speech</key><string>speech/ice-pop_768</string></dict>
<key>image-22</key><dict><key>thumbnail</key><string>food/microwave-burger_160</string><key>picture</key><string>food/microwave-burger_768</string><key>display-text</key><string>hamburger</string><key>speech-text</key><string>Ik wil een hamburger</string><key>speech</key><string>speech/microwave-burger_768</string></dict>
<key>image-23</key><dict><key>thumbnail</key><string>food/pancake_160</string><key>picture</key><string>food/pancake_768</string><key>display-text</key><string>pannenkoek</string><key>speech-text</key><string>Ik wil pannenkoeken</string><key>speech</key><string>speech/pancake_768</string></dict>
<key>image-24</key><dict><key>thumbnail</key><string>food/pasta_160</string><key>picture</key><string>food/pasta_768</string><key>display-text</key><string>pasta</string><key>speech-text</key><string>Ik wil pasta</string><key>speech</key><string>speech/pasta_768</string></dict>
<key>image-25</key><dict><key>thumbnail</key><string>food/pasta-and-sauce_160</string><key>picture</key><string>food/pasta-and-sauce_768</string><key>display-text</key><string>pasta en saus</string><key>speech-text</key><string>Ik wil pasta met saus</string><key>speech</key><string>speech/pasta-and-sauce_768</string></dict>
<key>image-26</key><dict><key>thumbnail</key><string>food/pizza_160</string><key>picture</key><string>food/pizza_768</string><key>display-text</key><string>pizza</string><key>speech-text</key><string>Ik wil pizza</string><key>speech</key><string>speech/pizza_768</string></dict>
<key>image-27</key><dict><key>thumbnail</key><string>food/pringles_160</string><key>picture</key><string>food/pringles_768</string><key>display-text</key><string>pringles</string><key>speech-text</key><string>Ik wil pringgles</string><key>speech</key><string>speech/pringles_768</string></dict>
<key>image-28</key><dict><key>thumbnail</key><string>food/rice_160</string><key>picture</key><string>food/rice_768</string><key>display-text</key><string>rijst</string><key>speech-text</key><string>Ik wil rijst</string><key>speech</key><string>speech/rice_768</string></dict>
<key>image-29</key><dict><key>thumbnail</key><string>food/rice-cakes_160</string><key>picture</key><string>food/rice-cakes_768</string><key>display-text</key><string>rijstwafels</string><key>speech-text</key><string>Ik wil een rijstwafel</string><key>speech</key><string>speech/rice-cakes_768</string></dict>
<key>image-30</key><dict><key>thumbnail</key><string>food/roast-potatoes_160</string><key>picture</key><string>food/roast-potatoes_768</string><key>display-text</key><string>gebakken aardappelen</string><key>speech-text</key><string>Ik wil gebakken aardappelen</string><key>speech</key><string>speech/roast-potatoes_768</string></dict>
<key>image-31</key><dict><key>thumbnail</key><string>food/sausages_160</string><key>picture</key><string>food/sausages_768</string><key>display-text</key><string>worstjes</string><key>speech-text</key><string>Ik wil worst</string><key>speech</key><string>speech/sausages_768</string></dict>
<key>image-32</key><dict><key>thumbnail</key><string>food/scone_160</string><key>picture</key><string>food/scone_768</string><key>display-text</key><string>klein afgeplat brood</string><key>speech-text</key><string>Ik wil een scone</string><key>speech</key><string>speech/scone_768</string></dict>
<key>image-33</key><dict><key>thumbnail</key><string>food/soup_160</string><key>picture</key><string>food/soup_768</string><key>display-text</key><string>soep</string><key>speech-text</key><string>Ik wil soep</string><key>speech</key><string>speech/soup_768</string></dict>
<key>image-34</key><dict><key>thumbnail</key><string>food/steak_160</string><key>picture</key><string>food/steak_768</string><key>display-text</key><string>steak</string><key>speech-text</key><string>Ik wil biefstuk</string><key>speech</key><string>speech/steak_768</string></dict>
<key>image-35</key><dict><key>thumbnail</key><string>food/tomato-ketchup_160</string><key>picture</key><string>food/tomato-ketchup_768</string><key>display-text</key><string>tomatenketchup</string><key>speech-text</key><string>Ik wil tomatenketchup</string><key>speech</key><string>speech/tomato-ketchup_768</string></dict>
<key>image-36</key><dict><key>thumbnail</key><string>food/yogurt_160</string><key>picture</key><string>food/yogurt_768</string><key>display-text</key><string>yoghurt</string><key>speech-text</key><string>Ik wil yoghurt</string><key>speech</key><string>speech/yogurt_768</string></dict>
</dict></dict>

<key>stream-3</key><dict><key>name</key><string>Groente en fruit</string><key>subtitle</key><string>Selectie van groente en fruit</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>fruit/apple_160</string><key>picture</key><string>fruit/apple_768</string><key>display-text</key><string>appel</string><key>speech-text</key><string>Ik wil een appel</string><key>speech</key><string>speech/apple_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>fruit/banana_160</string><key>picture</key><string>fruit/banana_768</string><key>display-text</key><string>banaan</string><key>speech-text</key><string>Ik wil een banaan</string><key>speech</key><string>speech/banana_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>fruit/broccoli_160</string><key>picture</key><string>fruit/broccoli_768</string><key>display-text</key><string>broccoli</string><key>speech-text</key><string>Ik wil broccoli</string><key>speech</key><string>speech/broccoli_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>fruit/carrot_160</string><key>picture</key><string>fruit/carrot_768</string><key>display-text</key><string>wortel</string><key>speech-text</key><string>Ik wil een wortel</string><key>speech</key><string>speech/carrot_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>fruit/cucumber_160</string><key>picture</key><string>fruit/cucumber_768</string><key>display-text</key><string>komkommer</string><key>speech-text</key><string>Ik wil komkommer</string><key>speech</key><string>speech/cucumber_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>fruit/grapes_160</string><key>picture</key><string>fruit/grapes_768</string><key>display-text</key><string>druiven</string><key>speech-text</key><string>Ik wil druiven</string><key>speech</key><string>speech/grapes_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>fruit/kiwi_160</string><key>picture</key><string>fruit/kiwi_768</string><key>display-text</key><string>kiwi</string><key>speech-text</key><string>Ik wil een kiwi</string><key>speech</key><string>speech/kiwi_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>fruit/lemon_160</string><key>picture</key><string>fruit/lemon_768</string><key>display-text</key><string>citroen</string><key>speech-text</key><string>Ik wil een citroen</string><key>speech</key><string>speech/lemon_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>fruit/lettuce_160</string><key>picture</key><string>fruit/lettuce_768</string><key>display-text</key><string>sla</string><key>speech-text</key><string>Ik wil sla</string><key>speech</key><string>speech/lettuce_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>fruit/mushroom_160</string><key>picture</key><string>fruit/mushroom_768</string><key>display-text</key><string>champignon</string><key>speech-text</key><string>Ik wil een champignon</string><key>speech</key><string>speech/mushroom_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>fruit/onion_160</string><key>picture</key><string>fruit/onion_768</string><key>display-text</key><string>ui</string><key>speech-text</key><string>Ik wil een ui</string><key>speech</key><string>speech/onion_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>fruit/orange_160</string><key>picture</key><string>fruit/orange_768</string><key>display-text</key><string>sinaasappel</string><key>speech-text</key><string>Ik wil een sinas appel</string><key>speech</key><string>speech/orange_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>fruit/pepper_160</string><key>picture</key><string>fruit/pepper_768</string><key>display-text</key><string>paprika</string><key>speech-text</key><string>Ik wil een paprika</string><key>speech</key><string>speech/pepper_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>fruit/potatoe_160</string><key>picture</key><string>fruit/potatoe_768</string><key>display-text</key><string>aardappel</string><key>speech-text</key><string>Ik wil een aardappel</string><key>speech</key><string>speech/potatoe_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>fruit/strawberries_160</string><key>picture</key><string>fruit/strawberries_768</string><key>display-text</key><string>aardbeien</string><key>speech-text</key><string>Ik wil aardbeien</string><key>speech</key><string>speech/strawberries_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>fruit/sweetcorn_160</string><key>picture</key><string>fruit/sweetcorn_768</string><key>display-text</key><string>maïs</string><key>speech-text</key><string>Ik wil maïs</string><key>speech</key><string>speech/sweetcorn_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>fruit/tomato_160</string><key>picture</key><string>fruit/tomato_768</string><key>display-text</key><string>tomaat</string><key>speech-text</key><string>Ik wil een tomaat</string><key>speech</key><string>speech/tomato_768</string></dict>
</dict></dict>

<key>stream-4</key><dict><key>name</key><string>Drinken</string><key>subtitle</key><string>Warme en koude dranken</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>drinks/7-up_160</string><key>picture</key><string>drinks/7-up_768</string><key>display-text</key><string>7 up</string><key>speech-text</key><string>Ik wil 7up</string><key>speech</key><string>speech/7-up_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>drinks/apple-juice_160</string><key>picture</key><string>drinks/apple-juice_768</string><key>display-text</key><string>appelsap</string><key>speech-text</key><string>Ik wil appelsap</string><key>speech</key><string>speech/apple-juice_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>drinks/bottle-of-water_160</string><key>picture</key><string>drinks/bottle-of-water_768</string><key>display-text</key><string>flesje water</string><key>speech-text</key><string>Ik wil een flesje water</string><key>speech</key><string>speech/bottle-of-water_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>drinks/coffee_160</string><key>picture</key><string>drinks/coffee_768</string><key>display-text</key><string>koffie</string><key>speech-text</key><string>Ik wil koffie</string><key>speech</key><string>speech/coffee_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>drinks/coke_160</string><key>picture</key><string>drinks/coke_768</string><key>display-text</key><string>cola</string><key>speech-text</key><string>Ik wil coke</string><key>speech</key><string>speech/coke_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>drinks/fanta_160</string><key>picture</key><string>drinks/fanta_768</string><key>display-text</key><string>fanta</string><key>speech-text</key><string>Ik wil fanta</string><key>speech</key><string>speech/fanta_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>drinks/flavoured-water_160</string><key>picture</key><string>drinks/flavoured-water_768</string><key>display-text</key><string>water met een smaakje</string><key>speech-text</key><string>Ik wil water met een smaakje</string><key>speech</key><string>speech/flavoured-water_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>drinks/hot-chocolate_160</string><key>picture</key><string>drinks/hot-chocolate_768</string><key>display-text</key><string>warme chocolademelk</string><key>speech-text</key><string>Ik wil warme chocolademelk</string><key>speech</key><string>speech/hot-chocolate_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>drinks/juice_160</string><key>picture</key><string>drinks/juice_768</string><key>display-text</key><string>sap</string><key>speech-text</key><string>Ik wil sap</string><key>speech</key><string>speech/juice_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>drinks/milk_160</string><key>picture</key><string>drinks/milk_768</string><key>display-text</key><string>melk</string><key>speech-text</key><string>Ik wil melk</string><key>speech</key><string>speech/milk_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>drinks/orange-juice_160</string><key>picture</key><string>drinks/orange-juice_768</string><key>display-text</key><string>sinaasappelsap</string><key>speech-text</key><string>Ik wil sinaasappelsap</string><key>speech</key><string>speech/orange-juice_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>drinks/ribena_160</string><key>picture</key><string>drinks/ribena_768</string><key>display-text</key><string>ribena</string><key>speech-text</key><string>Ik wil zwarte bessen sap</string><key>speech</key><string>speech/ribena_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>drinks/take-out-coffee_160</string><key>picture</key><string>drinks/take-out-coffee_768</string><key>display-text</key><string>meeneem koffie</string><key>speech-text</key><string>Ik wil een kopje koffie</string><key>speech</key><string>speech/take-out-coffee_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>drinks/tea_160</string><key>picture</key><string>drinks/tea_768</string><key>display-text</key><string>thee</string><key>speech-text</key><string>Ik wil thee</string><key>speech</key><string>speech/tea_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>drinks/water_160</string><key>picture</key><string>drinks/water_768</string><key>display-text</key><string>water</string><key>speech-text</key><string>Ik wil water</string><key>speech</key><string>speech/water_768</string></dict>
</dict></dict>

<key>stream-5</key><dict><key>name</key><string>Activiteiten</string><key>subtitle</key><string>Dingen die je elke dag doet</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>activities/bath_160</string><key>picture</key><string>activities/bath_768</string><key>display-text</key><string>bad</string><key>speech-text</key><string>Ik wil in bad</string><key>speech</key><string>speech/bath_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>activities/bed_160</string><key>picture</key><string>activities/bed_768</string><key>display-text</key><string>bed</string><key>speech-text</key><string>Ik wil naar bed</string><key>speech</key><string>speech/bed_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>activities/books_160</string><key>picture</key><string>activities/books_768</string><key>display-text</key><string>boeken</string><key>speech-text</key><string>Ik wil een boek</string><key>speech</key><string>speech/books_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>activities/breakfast_160</string><key>picture</key><string>activities/breakfast_768</string><key>display-text</key><string>ontbijt</string><key>speech-text</key><string>Ik wil ontbijt</string><key>speech</key><string>speech/breakfast_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>activities/bus_160</string><key>picture</key><string>activities/bus_768</string><key>display-text</key><string>bus</string><key>speech-text</key><string>Ik wil op de bus</string><key>speech</key><string>speech/bus_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>activities/car_160</string><key>picture</key><string>activities/car_768</string><key>display-text</key><string>auto</string><key>speech-text</key><string>Ik wil in de auto</string><key>speech</key><string>speech/car_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>activities/computer_160</string><key>picture</key><string>activities/computer_768</string><key>display-text</key><string>computer</string><key>speech-text</key><string>Ik wil de computer gebruiken</string><key>speech</key><string>speech/computer_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>activities/dinner_160</string><key>picture</key><string>activities/dinner_768</string><key>display-text</key><string>avondeten</string><key>speech-text</key><string>Ik wil avondeten</string><key>speech</key><string>speech/dinner_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>activities/laptop_160</string><key>picture</key><string>activities/laptop_768</string><key>display-text</key><string>laptop</string><key>speech-text</key><string>Ik wil de laptop</string><key>speech</key><string>speech/laptop_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>activities/lunch_160</string><key>picture</key><string>activities/lunch_768</string><key>display-text</key><string>lunch</string><key>speech-text</key><string>Ik wil de lunch</string><key>speech</key><string>speech/lunch_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>activities/shower_160</string><key>picture</key><string>activities/shower_768</string><key>display-text</key><string>douche</string><key>speech-text</key><string>Ik wil een douche</string><key>speech</key><string>speech/shower_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>activities/sporthal_160</string><key>picture</key><string>activities/sporthal_768</string><key>display-text</key><string>sporthal</string><key>speech-text</key><string>Ik wil naar de sporthal</string><key>speech</key><string>speech/sporthal_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>activities/supermarket_160</string><key>picture</key><string>activities/supermarket_768</string><key>display-text</key><string>supermarkt</string><key>speech-text</key><string>Ik wil naar de winkel</string><key>speech</key><string>speech/supermarket_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>activities/swimmingpool_160</string><key>picture</key><string>activities/swimmingpool_768</string><key>display-text</key><string>zwembad</string><key>speech-text</key><string>Ik wil gaan zwemmen</string><key>speech</key><string>speech/swimmingpool_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>activities/swing_160</string><key>picture</key><string>activities/swing_768</string><key>display-text</key><string>schommel</string><key>speech-text</key><string>Ik wil op de schommel</string><key>speech</key><string>speech/swing_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>activities/trampoline_160</string><key>picture</key><string>activities/trampoline_768</string><key>display-text</key><string>trampoline</string><key>speech-text</key><string>Ik wil op de trampoline</string><key>speech</key><string>speech/trampoline_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>activities/tv_160</string><key>picture</key><string>activities/tv_768</string><key>display-text</key><string>TV</string><key>speech-text</key><string>Ik wil tv kijken</string><key>speech</key><string>speech/tv_768</string></dict>
<key>image-18</key><dict><key>thumbnail</key><string>activities/walking_160</string><key>picture</key><string>activities/walking_768</string><key>display-text</key><string>wandelen</string><key>speech-text</key><string>Ik wil wandelen</string><key>speech</key><string>speech/walking_768</string></dict>
</dict></dict>

<key>stream-6</key><dict><key>name</key><string>Places</string><key>subtitle</key><string>selection of common places</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>places/beach_160</string><key>picture</key><string>places/beach_768</string><key>display-text</key><string>strand</string><key>speech-text</key><string>Ik wil naar het strand</string><key>speech</key><string>speech/beach_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>places/cafe_160</string><key>picture</key><string>places/cafe_768</string><key>display-text</key><string>cafe</string><key>speech-text</key><string>Mag ik naar het cafe?</string><key>speech</key><string>speech/cafe_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>places/cinema_160</string><key>picture</key><string>places/cinema_768</string><key>display-text</key><string>bioscoop</string><key>speech-text</key><string>Ik wil graag naar de bioscoop</string><key>speech</key><string>speech/cinema_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>places/clothes_shop_160</string><key>picture</key><string>places/clothes_shop_768</string><key>display-text</key><string>kledingwinkel</string><key>speech-text</key><string>Ik wil naar de kleding winkel</string><key>speech</key><string>speech/clothes_shop_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>places/forest_160</string><key>picture</key><string>places/forest_768</string><key>display-text</key><string>bos</string><key>speech-text</key><string>Ik wil naar het bos</string><key>speech</key><string>speech/forest_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>places/hairdresser1_160</string><key>picture</key><string>places/hairdresser1_768</string><key>display-text</key><string>kapper</string><key>speech-text</key><string>Ik moet naar de kapper</string><key>speech</key><string>speech/hairdresser1_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>places/home_160</string><key>picture</key><string>places/home_768</string><key>display-text</key><string>thuis</string><key>speech-text</key><string>Ik wil naar huis</string><key>speech</key><string>speech/home_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>places/library_160</string><key>picture</key><string>places/library_768</string><key>display-text</key><string>bibliotheek</string><key>speech-text</key><string>Mag ik naar de bibliotheek</string><key>speech</key><string>speech/library_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>places/mcdonalds_160</string><key>picture</key><string>places/mcdonalds_768</string><key>display-text</key><string>mcdonalds</string><key>speech-text</key><string>Ik wil graag naar McDonalds</string><key>speech</key><string>speech/mcdonalds_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>places/outside_160</string><key>picture</key><string>places/outside_768</string><key>display-text</key><string>buiten</string><key>speech-text</key><string>Ik wil naar buiten</string><key>speech</key><string>speech/outside_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>places/supermarket2_160</string><key>picture</key><string>places/supermarket2_768</string><key>display-text</key><string>supermarkt</string><key>speech-text</key><string>Ik wil gaan winkelen</string><key>speech</key><string>speech/supermarket2_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>places/swimmingpool2_160</string><key>picture</key><string>places/swimmingpool2_768</string><key>display-text</key><string>zwembad</string><key>speech-text</key><string>Kan ik gaan zwemmen</string><key>speech</key><string>speech/swimmingpool2_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>places/trainstation_160</string><key>picture</key><string>places/trainstation_768</string><key>display-text</key><string>treinstation</string><key>speech-text</key><string>Ik wil naar het station</string><key>speech</key><string>speech/trainstation_768</string></dict>
</dict></dict>


<key>stream-7</key><dict><key>name</key><string>Clothes</string><key>subtitle</key><string>selection of male and female clothes</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>clothes/cap_160</string><key>picture</key><string>clothes/cap_768</string><key>display-text</key><string>pet</string><key>speech-text</key><string>Ik wil een pet</string><key>speech</key><string>speech/cap_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>clothes/coat_160</string><key>picture</key><string>clothes/coat_768</string><key>display-text</key><string>jas</string><key>speech-text</key><string>Ik wil een jas</string><key>speech</key><string>speech/coat_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>clothes/dress_160</string><key>picture</key><string>clothes/dress_768</string><key>display-text</key><string>jurk</string><key>speech-text</key><string>Ik wil graag een jurk</string><key>speech</key><string>speech/dress_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>clothes/hat_160</string><key>picture</key><string>clothes/hat_768</string><key>display-text</key><string>muts</string><key>speech-text</key><string>Ik heb een hoed</string><key>speech</key><string>speech/hat_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>clothes/hooded-top_160</string><key>picture</key><string>clothes/hooded-top_768</string><key>display-text</key><string>trui met capuchon</string><key>speech-text</key><string>Ik wil graag een trui met capuchon</string><key>speech</key><string>speech/hooded-top_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>clothes/jacket_160</string><key>picture</key><string>clothes/jacket_768</string><key>display-text</key><string>jas</string><key>speech-text</key><string>Ik wil een jas</string><key>speech</key><string>speech/jacket_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>clothes/jeans_160</string><key>picture</key><string>clothes/jeans_768</string><key>display-text</key><string>spijkerbroek</string><key>speech-text</key><string>Ik wil een spijkerbroek</string><key>speech</key><string>speech/jeans_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>clothes/jogging-bottoms_160</string><key>picture</key><string>clothes/jogging-bottoms_768</string><key>display-text</key><string>joggingbroek</string><key>speech-text</key><string>Ik wil een joggingbroek</string><key>speech</key><string>speech/jogging-bottoms_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>clothes/jumper_160</string><key>picture</key><string>clothes/jumper_768</string><key>display-text</key><string>trui</string><key>speech-text</key><string>Ik wil een jumper</string><key>speech</key><string>speech/jumper_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>clothes/pyjamas_160</string><key>picture</key><string>clothes/pyjamas_768</string><key>display-text</key><string>pyjama</string><key>speech-text</key><string>Ik wil mijn pyjama</string><key>speech</key><string>speech/pyjamas_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>clothes/runners_160</string><key>picture</key><string>clothes/runners_768</string><key>display-text</key><string>sportschoenen</string><key>speech-text</key><string>Ik wil mijn sportschoenen aan</string><key>speech</key><string>speech/runners_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>clothes/shoes_160</string><key>picture</key><string>clothes/shoes_768</string><key>display-text</key><string>schoenen</string><key>speech-text</key><string>Ik wil schoenen aan</string><key>speech</key><string>speech/shoes_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>clothes/shorts_160</string><key>picture</key><string>clothes/shorts_768</string><key>display-text</key><string>korte broek</string><key>speech-text</key><string>Ik wil een korte broek aan</string><key>speech</key><string>speech/shorts_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>clothes/skirt_160</string><key>picture</key><string>clothes/skirt_768</string><key>display-text</key><string>rok</string><key>speech-text</key><string>Ik wil een rok</string><key>speech</key><string>speech/skirt_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>clothes/socks_160</string><key>picture</key><string>clothes/socks_768</string><key>display-text</key><string>sokken</string><key>speech-text</key><string>Ik wil sokken</string><key>speech</key><string>speech/socks_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>clothes/sunglasses_160</string><key>picture</key><string>clothes/sunglasses_768</string><key>display-text</key><string>zonnebril</string><key>speech-text</key><string>Ik wil een zonnebril</string><key>speech</key><string>speech/sunglasses_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>clothes/swim-suit_160</string><key>picture</key><string>clothes/swim-suit_768</string><key>display-text</key><string>zwempak</string><key>speech-text</key><string>Ik heb een badpak</string><key>speech</key><string>speech/swim-suit_768</string></dict>
<key>image-18</key><dict><key>thumbnail</key><string>clothes/swiming-shorts_160</string><key>picture</key><string>clothes/swiming-shorts_768</string><key>display-text</key><string>zwembroek</string><key>speech-text</key><string>Ik wil een zwembroek</string><key>speech</key><string>speech/swiming-shorts_768</string></dict>
<key>image-19</key><dict><key>thumbnail</key><string>clothes/t-shirt_160</string><key>picture</key><string>clothes/t-shirt_768</string><key>display-text</key><string>t-shirt</string><key>speech-text</key><string>Ik wil een t-shirt</string><key>speech</key><string>speech/t-shirt_768</string></dict>
<key>image-20</key><dict><key>thumbnail</key><string>clothes/trousers_160</string><key>picture</key><string>clothes/trousers_768</string><key>display-text</key><string>lange broek</string><key>speech-text</key><string>Ik wil een lange broek</string><key>speech</key><string>speech/trousers_768</string></dict>
<key>image-21</key><dict><key>thumbnail</key><string>clothes/underpants_160</string><key>picture</key><string>clothes/underpants_768</string><key>display-text</key><string>onderbroek</string><key>speech-text</key><string>Ik wil mijn onderbroek</string><key>speech</key><string>speech/underpants_768</string></dict>
<key>image-22</key><dict><key>thumbnail</key><string>clothes/underwear_160</string><key>picture</key><string>clothes/underwear_768</string><key>display-text</key><string>ondergoed</string><key>speech-text</key><string>Ik wil mijn ondergoed</string><key>speech</key><string>speech/underwear_768</string></dict>
</dict></dict>





<key>stream-8</key><dict><key>name</key><string>Objects</string><key>subtitle</key><string>selection of everyday objects</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>objects/bag_160</string><key>picture</key><string>objects/bag_768</string><key>display-text</key><string>tas</string><key>speech-text</key><string>Ik wil een tas</string><key>speech</key><string>speech/bag_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>objects/ball2_160</string><key>picture</key><string>objects/ball2_768</string><key>display-text</key><string>bal</string><key>speech-text</key><string>Ik wil een bal</string><key>speech</key><string>speech/ball2_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>objects/blanket_160</string><key>picture</key><string>objects/blanket_768</string><key>display-text</key><string>deken</string><key>speech-text</key><string>Ik wil graag een deken</string><key>speech</key><string>speech/blanket_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>objects/bowl_160</string><key>picture</key><string>objects/bowl_768</string><key>display-text</key><string>kom</string><key>speech-text</key><string>Mag ik een kom</string><key>speech</key><string>speech/bowl_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>objects/coffeecup_160</string><key>picture</key><string>objects/coffeecup_768</string><key>display-text</key><string>coffeecup</string><key>speech-text</key><string>Ik wil graag een kopje koffie</string><key>speech</key><string>speech/coffeecup_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>objects/cup_160</string><key>picture</key><string>objects/cup_768</string><key>display-text</key><string>beker</string><key>speech-text</key><string>Ik wil graag een beker</string><key>speech</key><string>speech/cup_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>objects/deodorant_160</string><key>picture</key><string>objects/deodorant_768</string><key>display-text</key><string>deo</string><key>speech-text</key><string>Ik moet deodorant</string><key>speech</key><string>speech/deodorant_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>objects/fork_160</string><key>picture</key><string>objects/fork_768</string><key>display-text</key><string>vork</string><key>speech-text</key><string>Ik wil een vork</string><key>speech</key><string>speech/fork_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>objects/hairbrush_160</string><key>picture</key><string>objects/hairbrush_768</string><key>display-text</key><string>haarborstel</string><key>speech-text</key><string>Ik wil een haarborstel</string><key>speech</key><string>speech/hairbrush_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>objects/headphones_160</string><key>picture</key><string>objects/headphones_768</string><key>display-text</key><string>hoofdtelefoon</string><key>speech-text</key><string>Mag ik een hoofdtelefoon</string><key>speech</key><string>speech/headphones_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>objects/knife_160</string><key>picture</key><string>objects/knife_768</string><key>display-text</key><string>mes</string><key>speech-text</key><string>Ik wil een mes</string><key>speech</key><string>speech/knife_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>objects/pillow_160</string><key>picture</key><string>objects/pillow_768</string><key>display-text</key><string>kussen</string><key>speech-text</key><string>Ik wil graag een kussen</string><key>speech</key><string>speech/pillow_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>objects/plate_160</string><key>picture</key><string>objects/plate_768</string><key>display-text</key><string>bord</string><key>speech-text</key><string>Ik wil een bord</string><key>speech</key><string>speech/plate_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>objects/shampoo_160</string><key>picture</key><string>objects/shampoo_768</string><key>display-text</key><string>shampoo</string><key>speech-text</key><string>Ik wil graag shampoo</string><key>speech</key><string>speech/shampoo_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>objects/soap_160</string><key>picture</key><string>objects/soap_768</string><key>display-text</key><string>zeep</string><key>speech-text</key><string>Ik wil graag zeep</string><key>speech</key><string>speech/soap_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>objects/spoon_160</string><key>picture</key><string>objects/spoon_768</string><key>display-text</key><string>lepel</string><key>speech-text</key><string>Ik wil een lepel</string><key>speech</key><string>speech/spoon_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>objects/toiletpaper_160</string><key>picture</key><string>objects/toiletpaper_768</string><key>display-text</key><string>toiletpapier</string><key>speech-text</key><string>Ik heb wc-papier nodig</string><key>speech</key><string>speech/toiletpaper_768</string></dict>
<key>image-18</key><dict><key>thumbnail</key><string>objects/toothbrush_160</string><key>picture</key><string>objects/toothbrush_768</string><key>display-text</key><string>tandenborstel</string><key>speech-text</key><string>Ik heb mijn tandenborstel nodig</string><key>speech</key><string>speech/toothbrush_768</string></dict>
<key>image-19</key><dict><key>thumbnail</key><string>objects/toothpaste_160</string><key>picture</key><string>objects/toothpaste_768</string><key>display-text</key><string>tandpasta</string><key>speech-text</key><string>Heb je tandpasta voor me?</string><key>speech</key><string>speech/toothpaste_768</string></dict>
<key>image-20</key><dict><key>thumbnail</key><string>objects/towel_160</string><key>picture</key><string>objects/towel_768</string><key>display-text</key><string>handdoek</string><key>speech-text</key><string>Ik wil een handdoek</string><key>speech</key><string>speech/towel_768</string></dict>
</dict></dict>


<key>stream-9</key><dict><key>name</key><string>Feelings</string><key>subtitle</key><string>selection of common feelings</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>feelings/I-am-angry_160</string><key>picture</key><string>feelings/I-am-angry_768</string><key>display-text</key><string>Ik ben boos</string><key>speech-text</key><string>Ik ben boos</string><key>speech</key><string>speech/I-am-angry_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>feelings/I-am-bored_160</string><key>picture</key><string>feelings/I-am-bored_768</string><key>display-text</key><string>Ik verveel me</string><key>speech-text</key><string>Ik verveel me</string><key>speech</key><string>speech/I-am-bored_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>feelings/I-am-happy_160</string><key>picture</key><string>feelings/I-am-happy_768</string><key>display-text</key><string>Ik ben blij</string><key>speech-text</key><string>Ik ben blij</string><key>speech</key><string>speech/I-am-happy_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>feelings/I-am-not-ok_160</string><key>picture</key><string>feelings/I-am-not-ok_768</string><key>display-text</key><string>Niet ok</string><key>speech-text</key><string>Niet ok</string><key>speech</key><string>speech/I-am-not-ok_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>feelings/I-am-ok_160</string><key>picture</key><string>feelings/I-am-ok_768</string><key>display-text</key><string>OK</string><key>speech-text</key><string>OK</string><key>speech</key><string>speech/I-am-ok_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>feelings/I-am-sad_160</string><key>picture</key><string>feelings/I-am-sad_768</string><key>display-text</key><string>Ik ben verdrietig</string><key>speech-text</key><string>Ik ben verdrietig</string><key>speech</key><string>speech/I-am-sad_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>feelings/I-am-sick_160</string><key>picture</key><string>feelings/I-am-sick_768</string><key>display-text</key><string>Ik ben ziek</string><key>speech-text</key><string>Ik ben ziek</string><key>speech</key><string>speech/I-am-sick_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>feelings/I-am-tired_160</string><key>picture</key><string>feelings/I-am-tired_768</string><key>display-text</key><string>Ik ben moe</string><key>speech-text</key><string>Ik ben moe</string><key>speech</key><string>speech/I-am-tired_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>feelings/I-am-too-cold_160</string><key>picture</key><string>feelings/I-am-too-cold_768</string><key>display-text</key><string>Ik heb het koud</string><key>speech-text</key><string>Ik heb het koud</string><key>speech</key><string>speech/I-am-too-cold_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>feelings/I-am-too-hot_160</string><key>picture</key><string>feelings/I-am-too-hot_768</string><key>display-text</key><string>Ik heb het te warm</string><key>speech-text</key><string>Ik heb het te warm</string><key>speech</key><string>speech/I-am-too-hot_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>feelings/I-am-worried_160</string><key>picture</key><string>feelings/I-am-worried_768</string><key>display-text</key><string>Ik maak me zorgen</string><key>speech-text</key><string>Ik maak me zorgen</string><key>speech</key><string>speech/I-am-worried_768</string></dict>
</dict></dict>

<key>stream-10</key><dict><key>name</key><string>Everyday conversation</string><key>subtitle</key><string>short phrases and words to engage in conversations</string><key>images</key><dict>

<key>image-1</key><dict><key>thumbnail</key><string>phrases/hello_160</string><key>picture</key><string>phrases/hello_768</string><key>display-text</key><string>hallo</string><key>speech-text</key><string>hallo</string><key>speech</key><string>speech/hello_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>phrases/howareyou_160</string><key>picture</key><string>phrases/howareyou_768</string><key>display-text</key><string>hoe gaat het?</string><key>speech-text</key><string>hoe gaat het?</string><key>speech</key><string>speech/howareyou_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>phrases/thankyou_160</string><key>picture</key><string>phrases/thankyou_768</string><key>display-text</key><string>dank</string><key>speech-text</key><string>dank</string><key>speech</key><string>speech/thankyou_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>phrases/goodbye_160</string><key>picture</key><string>phrases/goodbye_768</string><key>display-text</key><string>tot ziens</string><key>speech-text</key><string>Tot ziens</string><key>speech</key><string>speech/goodbye_768</string></dict>
</dict></dict>





</dict></dict></plist>