<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>streams</key><dict>

<key>stream-1</key><dict><key>name</key><string>Quick responses</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>yes_160</string><key>picture</key><string>yes_768</string><key>display-text</key><string>ja</string><key>speech-text</key><string>ja</string><key>speech</key><string>yes_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>no_160</string><key>picture</key><string>no_768</string><key>display-text</key><string>nee</string><key>speech-text</key><string>geen</string><key>speech</key><string>no_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>toilet_160</string><key>picture</key><string>toilet_768</string><key>display-text</key><string>toilet</string><key>speech-text</key><string>Ik moet naar de wc</string><key>speech</key><string>toilet_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>help_160</string><key>picture</key><string>help_768</string><key>display-text</key><string>help</string><key>speech-text</key><string>Ik heb hulp nodig</string><key>speech</key><string>help_768</string></dict>
</dict></dict>


<key>stream-2</key><dict><key>name</key><string>Food</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>biscuit_160</string><key>picture</key><string>biscuit_768</string><key>display-text</key><string>koekje</string><key>speech-text</key><string>Ik wil een koekje</string><key>speech</key><string>biscuit_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>boiled-potatoes_160</string><key>picture</key><string>boiled-potatoes_768</string><key>display-text</key><string>gekookte aardappelen</string><key>speech-text</key><string>Ik wil gekookte aardappelen</string><key>speech</key><string>boiled-potatoes_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>bread_160</string><key>picture</key><string>bread_768</string><key>display-text</key><string>brood</string><key>speech-text</key><string>Ik wil brood</string><key>speech</key><string>bread_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>burger_160</string><key>picture</key><string>burger_768</string><key>display-text</key><string>hamburger</string><key>speech-text</key><string>Ik wil een hamburger</string><key>speech</key><string>burger_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>butter_160</string><key>picture</key><string>butter_768</string><key>display-text</key><string>boter</string><key>speech-text</key><string>Ik wil boter</string><key>speech</key><string>butter_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>cake_160</string><key>picture</key><string>cake_768</string><key>display-text</key><string>taart</string><key>speech-text</key><string>Ik wil taart</string><key>speech</key><string>cake_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>cheese_160</string><key>picture</key><string>cheese_768</string><key>display-text</key><string>kaas</string><key>speech-text</key><string>Ik wil kaas</string><key>speech</key><string>cheese_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>chicken_160</string><key>picture</key><string>chicken_768</string><key>display-text</key><string>kip</string><key>speech-text</key><string>Ik wil kip</string><key>speech</key><string>chicken_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>chicken-goujons_160</string><key>picture</key><string>chicken-goujons_768</string><key>display-text</key><string>kip goujons</string><key>speech-text</key><string>Ik wil kip goujons</string><key>speech</key><string>chicken-goujons_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>chips_160</string><key>picture</key><string>chips_768</string><key>display-text</key><string>chips</string><key>speech-text</key><string>Ik wil chips</string><key>speech</key><string>chips_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>chocolate_160</string><key>picture</key><string>chocolate_768</string><key>display-text</key><string>chocolade</string><key>speech-text</key><string>Ik wil chocolade</string><key>speech</key><string>chocolate_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>chocolate-bar_160</string><key>picture</key><string>chocolate-bar_768</string><key>display-text</key><string>chocoladereep</string><key>speech-text</key><string>Ik wil een reep chocolade</string><key>speech</key><string>chocolate-bar_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>crackers_160</string><key>picture</key><string>crackers_768</string><key>display-text</key><string>crackers</string><key>speech-text</key><string>Ik wil crackers</string><key>speech</key><string>crackers_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>crisps_160</string><key>picture</key><string>crisps_768</string><key>display-text</key><string>chips</string><key>speech-text</key><string>Ik wil chips</string><key>speech</key><string>crisps_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>egg_160</string><key>picture</key><string>egg_768</string><key>display-text</key><string>ei</string><key>speech-text</key><string>Ik wil een ei</string><key>speech</key><string>egg_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>fish-fingers_160</string><key>picture</key><string>fish-fingers_768</string><key>display-text</key><string>vissticks</string><key>speech-text</key><string>Ik wil vissticks</string><key>speech</key><string>fish-fingers_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>fried-egg_160</string><key>picture</key><string>fried-egg_768</string><key>display-text</key><string>spiegelei</string><key>speech-text</key><string>Ik wil een gebakken ei</string><key>speech</key><string>fried-egg_768</string></dict>
<key>image-18</key><dict><key>thumbnail</key><string>ham_160</string><key>picture</key><string>ham_768</string><key>display-text</key><string>ham</string><key>speech-text</key><string>Ik wil ham</string><key>speech</key><string>ham_768</string></dict>
<key>image-19</key><dict><key>thumbnail</key><string>ice-cream_160</string><key>picture</key><string>ice-cream_768</string><key>display-text</key><string>ijs</string><key>speech-text</key><string>Ik wil een ijsje</string><key>speech</key><string>ice-cream_768</string></dict>
<key>image-20</key><dict><key>thumbnail</key><string>ice-cream-cone_160</string><key>picture</key><string>ice-cream-cone_768</string><key>display-text</key><string>ijsje</string><key>speech-text</key><string>Ik wil een ijsje</string><key>speech</key><string>ice-cream-cone_768</string></dict>
<key>image-21</key><dict><key>thumbnail</key><string>ice-pop_160</string><key>picture</key><string>ice-pop_768</string><key>display-text</key><string>ijs pop</string><key>speech-text</key><string>Ik wil een ijs pop</string><key>speech</key><string>ice-pop_768</string></dict>
<key>image-22</key><dict><key>thumbnail</key><string>microwave-burger_160</string><key>picture</key><string>microwave-burger_768</string><key>display-text</key><string>hamburger</string><key>speech-text</key><string>Ik wil een hamburger</string><key>speech</key><string>microwave-burger_768</string></dict>
<key>image-23</key><dict><key>thumbnail</key><string>pancake_160</string><key>picture</key><string>pancake_768</string><key>display-text</key><string>pannenkoek</string><key>speech-text</key><string>Ik wil pannenkoeken</string><key>speech</key><string>pancake_768</string></dict>
<key>image-24</key><dict><key>thumbnail</key><string>pasta_160</string><key>picture</key><string>pasta_768</string><key>display-text</key><string>pasta</string><key>speech-text</key><string>Ik wil pasta</string><key>speech</key><string>pasta_768</string></dict>
<key>image-25</key><dict><key>thumbnail</key><string>pasta-and-sauce_160</string><key>picture</key><string>pasta-and-sauce_768</string><key>display-text</key><string>pasta en saus</string><key>speech-text</key><string>Ik wil pasta met saus</string><key>speech</key><string>pasta-and-sauce_768</string></dict>
<key>image-26</key><dict><key>thumbnail</key><string>pizza_160</string><key>picture</key><string>pizza_768</string><key>display-text</key><string>pizza</string><key>speech-text</key><string>Ik wil pizza</string><key>speech</key><string>pizza_768</string></dict>
<key>image-27</key><dict><key>thumbnail</key><string>pringles_160</string><key>picture</key><string>pringles_768</string><key>display-text</key><string>pringles</string><key>speech-text</key><string>Ik wil pringgles</string><key>speech</key><string>pringles_768</string></dict>
<key>image-28</key><dict><key>thumbnail</key><string>rice_160</string><key>picture</key><string>rice_768</string><key>display-text</key><string>rijst</string><key>speech-text</key><string>Ik wil rijst</string><key>speech</key><string>rice_768</string></dict>
<key>image-29</key><dict><key>thumbnail</key><string>rice-cakes_160</string><key>picture</key><string>rice-cakes_768</string><key>display-text</key><string>rijstwafels</string><key>speech-text</key><string>Ik wil een rijstwafel</string><key>speech</key><string>rice-cakes_768</string></dict>
<key>image-30</key><dict><key>thumbnail</key><string>roast-potatoes_160</string><key>picture</key><string>roast-potatoes_768</string><key>display-text</key><string>gebakken aardappelen</string><key>speech-text</key><string>Ik wil gebakken aardappelen</string><key>speech</key><string>roast-potatoes_768</string></dict>
<key>image-31</key><dict><key>thumbnail</key><string>sausages_160</string><key>picture</key><string>sausages_768</string><key>display-text</key><string>worstjes</string><key>speech-text</key><string>Ik wil worst</string><key>speech</key><string>sausages_768</string></dict>
<key>image-32</key><dict><key>thumbnail</key><string>scone_160</string><key>picture</key><string>scone_768</string><key>display-text</key><string>klein afgeplat brood</string><key>speech-text</key><string>Ik wil een scone</string><key>speech</key><string>scone_768</string></dict>
<key>image-33</key><dict><key>thumbnail</key><string>soup_160</string><key>picture</key><string>soup_768</string><key>display-text</key><string>soep</string><key>speech-text</key><string>Ik wil soep</string><key>speech</key><string>soup_768</string></dict>
<key>image-34</key><dict><key>thumbnail</key><string>steak_160</string><key>picture</key><string>steak_768</string><key>display-text</key><string>steak</string><key>speech-text</key><string>Ik wil biefstuk</string><key>speech</key><string>steak_768</string></dict>
<key>image-35</key><dict><key>thumbnail</key><string>tomato-ketchup_160</string><key>picture</key><string>tomato-ketchup_768</string><key>display-text</key><string>tomatenketchup</string><key>speech-text</key><string>Ik wil tomatenketchup</string><key>speech</key><string>tomato-ketchup_768</string></dict>
<key>image-36</key><dict><key>thumbnail</key><string>yogurt_160</string><key>picture</key><string>yogurt_768</string><key>display-text</key><string>yoghurt</string><key>speech-text</key><string>Ik wil yoghurt</string><key>speech</key><string>yogurt_768</string></dict>
</dict></dict>

<key>stream-3</key><dict><key>name</key><string>Fruit and Vegetables</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>apple_160</string><key>picture</key><string>apple_768</string><key>display-text</key><string>appel</string><key>speech-text</key><string>Ik wil een appel</string><key>speech</key><string>apple_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>banana_160</string><key>picture</key><string>banana_768</string><key>display-text</key><string>banaan</string><key>speech-text</key><string>Ik wil een banaan</string><key>speech</key><string>banana_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>broccoli_160</string><key>picture</key><string>broccoli_768</string><key>display-text</key><string>broccoli</string><key>speech-text</key><string>Ik wil broccoli</string><key>speech</key><string>broccoli_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>carrot_160</string><key>picture</key><string>carrot_768</string><key>display-text</key><string>wortel</string><key>speech-text</key><string>Ik wil een wortel</string><key>speech</key><string>carrot_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>cucumber_160</string><key>picture</key><string>cucumber_768</string><key>display-text</key><string>komkommer</string><key>speech-text</key><string>Ik wil komkommer</string><key>speech</key><string>cucumber_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>grapes_160</string><key>picture</key><string>grapes_768</string><key>display-text</key><string>druiven</string><key>speech-text</key><string>Ik wil druiven</string><key>speech</key><string>grapes_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>kiwi_160</string><key>picture</key><string>kiwi_768</string><key>display-text</key><string>kiwi</string><key>speech-text</key><string>Ik wil een kiwi</string><key>speech</key><string>kiwi_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>lemon_160</string><key>picture</key><string>lemon_768</string><key>display-text</key><string>citroen</string><key>speech-text</key><string>Ik wil een citroen</string><key>speech</key><string>lemon_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>lettuce_160</string><key>picture</key><string>lettuce_768</string><key>display-text</key><string>sla</string><key>speech-text</key><string>Ik wil sla</string><key>speech</key><string>lettuce_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>mushroom_160</string><key>picture</key><string>mushroom_768</string><key>display-text</key><string>champignon</string><key>speech-text</key><string>Ik wil een champignon</string><key>speech</key><string>mushroom_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>onion_160</string><key>picture</key><string>onion_768</string><key>display-text</key><string>ui</string><key>speech-text</key><string>Ik wil een ui</string><key>speech</key><string>onion_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>orange_160</string><key>picture</key><string>orange_768</string><key>display-text</key><string>sinaasappel</string><key>speech-text</key><string>Ik wil een sinas appel</string><key>speech</key><string>orange_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>pepper_160</string><key>picture</key><string>pepper_768</string><key>display-text</key><string>paprika</string><key>speech-text</key><string>Ik wil een paprika</string><key>speech</key><string>pepper_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>potatoe_160</string><key>picture</key><string>potatoe_768</string><key>display-text</key><string>aardappel</string><key>speech-text</key><string>Ik wil een aardappel</string><key>speech</key><string>potatoe_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>strawberries_160</string><key>picture</key><string>strawberries_768</string><key>display-text</key><string>aardbeien</string><key>speech-text</key><string>Ik wil aardbeien</string><key>speech</key><string>strawberries_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>sweetcorn_160</string><key>picture</key><string>sweetcorn_768</string><key>display-text</key><string>maïs</string><key>speech-text</key><string>Ik wil maïs</string><key>speech</key><string>sweetcorn_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>tomato_160</string><key>picture</key><string>tomato_768</string><key>display-text</key><string>tomaat</string><key>speech-text</key><string>Ik wil een tomaat</string><key>speech</key><string>tomato_768</string></dict>
</dict></dict>

<key>stream-4</key><dict><key>name</key><string>Drinks</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>7-up_160</string><key>picture</key><string>7-up_768</string><key>display-text</key><string>7 up</string><key>speech-text</key><string>Ik wil 7up</string><key>speech</key><string>7-up_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>apple-juice_160</string><key>picture</key><string>apple-juice_768</string><key>display-text</key><string>appelsap</string><key>speech-text</key><string>Ik wil appelsap</string><key>speech</key><string>apple-juice_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>bottle-of-water_160</string><key>picture</key><string>bottle-of-water_768</string><key>display-text</key><string>flesje water</string><key>speech-text</key><string>Ik wil een flesje water</string><key>speech</key><string>bottle-of-water_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>coffee_160</string><key>picture</key><string>coffee_768</string><key>display-text</key><string>koffie</string><key>speech-text</key><string>Ik wil koffie</string><key>speech</key><string>coffee_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>coke_160</string><key>picture</key><string>coke_768</string><key>display-text</key><string>cola</string><key>speech-text</key><string>Ik wil coke</string><key>speech</key><string>coke_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>fanta_160</string><key>picture</key><string>fanta_768</string><key>display-text</key><string>fanta</string><key>speech-text</key><string>Ik wil fanta</string><key>speech</key><string>fanta_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>flavoured-water_160</string><key>picture</key><string>flavoured-water_768</string><key>display-text</key><string>water met een smaakje</string><key>speech-text</key><string>Ik wil water met een smaakje</string><key>speech</key><string>flavoured-water_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>hot-chocolate_160</string><key>picture</key><string>hot-chocolate_768</string><key>display-text</key><string>warme chocolademelk</string><key>speech-text</key><string>Ik wil warme chocolademelk</string><key>speech</key><string>hot-chocolate_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>juice_160</string><key>picture</key><string>juice_768</string><key>display-text</key><string>sap</string><key>speech-text</key><string>Ik wil sap</string><key>speech</key><string>juice_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>milk_160</string><key>picture</key><string>milk_768</string><key>display-text</key><string>melk</string><key>speech-text</key><string>Ik wil melk</string><key>speech</key><string>milk_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>orange-juice_160</string><key>picture</key><string>orange-juice_768</string><key>display-text</key><string>sinaasappelsap</string><key>speech-text</key><string>Ik wil sinaasappelsap</string><key>speech</key><string>orange-juice_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>ribena_160</string><key>picture</key><string>ribena_768</string><key>display-text</key><string>ribena</string><key>speech-text</key><string>Ik wil zwarte bessen sap</string><key>speech</key><string>ribena_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>take-out-coffee_160</string><key>picture</key><string>take-out-coffee_768</string><key>display-text</key><string>meeneem koffie</string><key>speech-text</key><string>Ik wil een kopje koffie</string><key>speech</key><string>take-out-coffee_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>tea_160</string><key>picture</key><string>tea_768</string><key>display-text</key><string>thee</string><key>speech-text</key><string>Ik wil thee</string><key>speech</key><string>tea_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>water_160</string><key>picture</key><string>water_768</string><key>display-text</key><string>water</string><key>speech-text</key><string>Ik wil water</string><key>speech</key><string>water_768</string></dict>
</dict></dict>

<key>stream-5</key><dict><key>name</key><string>Activities</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>bath_160</string><key>picture</key><string>bath_768</string><key>display-text</key><string>bad</string><key>speech-text</key><string>Ik wil in bad</string><key>speech</key><string>bath_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>bed_160</string><key>picture</key><string>bed_768</string><key>display-text</key><string>bed</string><key>speech-text</key><string>Ik wil naar bed</string><key>speech</key><string>bed_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>books_160</string><key>picture</key><string>books_768</string><key>display-text</key><string>boeken</string><key>speech-text</key><string>Ik wil een boek</string><key>speech</key><string>books_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>breakfast_160</string><key>picture</key><string>breakfast_768</string><key>display-text</key><string>ontbijt</string><key>speech-text</key><string>Ik wil ontbijt</string><key>speech</key><string>breakfast_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>bus_160</string><key>picture</key><string>bus_768</string><key>display-text</key><string>bus</string><key>speech-text</key><string>Ik wil op de bus</string><key>speech</key><string>bus_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>car_160</string><key>picture</key><string>car_768</string><key>display-text</key><string>auto</string><key>speech-text</key><string>Ik wil in de auto</string><key>speech</key><string>car_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>computer_160</string><key>picture</key><string>computer_768</string><key>display-text</key><string>computer</string><key>speech-text</key><string>Ik wil de computer gebruiken</string><key>speech</key><string>computer_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>dinner_160</string><key>picture</key><string>dinner_768</string><key>display-text</key><string>avondeten</string><key>speech-text</key><string>Ik wil avondeten</string><key>speech</key><string>dinner_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>laptop_160</string><key>picture</key><string>laptop_768</string><key>display-text</key><string>laptop</string><key>speech-text</key><string>Ik wil de laptop</string><key>speech</key><string>laptop_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>lunch_160</string><key>picture</key><string>lunch_768</string><key>display-text</key><string>lunch</string><key>speech-text</key><string>Ik wil de lunch</string><key>speech</key><string>lunch_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>shower_160</string><key>picture</key><string>shower_768</string><key>display-text</key><string>douche</string><key>speech-text</key><string>Ik wil een douche</string><key>speech</key><string>shower_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>sporthal_160</string><key>picture</key><string>sporthal_768</string><key>display-text</key><string>sporthal</string><key>speech-text</key><string>Ik wil naar de sporthal</string><key>speech</key><string>sporthal_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>supermarket_160</string><key>picture</key><string>supermarket_768</string><key>display-text</key><string>supermarkt</string><key>speech-text</key><string>Ik wil naar de winkel</string><key>speech</key><string>supermarket_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>swimmingpool_160</string><key>picture</key><string>swimmingpool_768</string><key>display-text</key><string>zwembad</string><key>speech-text</key><string>Ik wil gaan zwemmen</string><key>speech</key><string>swimmingpool_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>swing_160</string><key>picture</key><string>swing_768</string><key>display-text</key><string>schommel</string><key>speech-text</key><string>Ik wil op de schommel</string><key>speech</key><string>swing_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>trampoline_160</string><key>picture</key><string>trampoline_768</string><key>display-text</key><string>trampoline</string><key>speech-text</key><string>Ik wil op de trampoline</string><key>speech</key><string>trampoline_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>tv_160</string><key>picture</key><string>tv_768</string><key>display-text</key><string>TV</string><key>speech-text</key><string>Ik wil tv kijken</string><key>speech</key><string>tv_768</string></dict>
<key>image-18</key><dict><key>thumbnail</key><string>walking_160</string><key>picture</key><string>walking_768</string><key>display-text</key><string>wandelen</string><key>speech-text</key><string>Ik wil wandelen</string><key>speech</key><string>walking_768</string></dict>
</dict></dict>

<key>stream-6</key><dict><key>name</key><string>Places</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>beach_160</string><key>picture</key><string>beach_768</string><key>display-text</key><string>strand</string><key>speech-text</key><string>Ik wil naar het strand</string><key>speech</key><string>beach_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>cafe_160</string><key>picture</key><string>cafe_768</string><key>display-text</key><string>cafe</string><key>speech-text</key><string>Mag ik naar het cafe?</string><key>speech</key><string>cafe_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>cinema_160</string><key>picture</key><string>cinema_768</string><key>display-text</key><string>bioscoop</string><key>speech-text</key><string>Ik wil graag naar de bioscoop</string><key>speech</key><string>cinema_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>clothes_shop_160</string><key>picture</key><string>clothes_shop_768</string><key>display-text</key><string>kledingwinkel</string><key>speech-text</key><string>Ik wil naar de kleding winkel</string><key>speech</key><string>clothes_shop_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>forest_160</string><key>picture</key><string>forest_768</string><key>display-text</key><string>bos</string><key>speech-text</key><string>Ik wil naar het bos</string><key>speech</key><string>forest_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>hairdresser1_160</string><key>picture</key><string>hairdresser1_768</string><key>display-text</key><string>kapper</string><key>speech-text</key><string>Ik moet naar de kapper</string><key>speech</key><string>hairdresser1_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>home_160</string><key>picture</key><string>home_768</string><key>display-text</key><string>thuis</string><key>speech-text</key><string>Ik wil naar huis</string><key>speech</key><string>home_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>library_160</string><key>picture</key><string>library_768</string><key>display-text</key><string>bibliotheek</string><key>speech-text</key><string>Mag ik naar de bibliotheek</string><key>speech</key><string>library_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>mcdonalds_160</string><key>picture</key><string>mcdonalds_768</string><key>display-text</key><string>mcdonalds</string><key>speech-text</key><string>Ik wil graag naar McDonalds</string><key>speech</key><string>mcdonalds_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>outside_160</string><key>picture</key><string>outside_768</string><key>display-text</key><string>buiten</string><key>speech-text</key><string>Ik wil naar buiten</string><key>speech</key><string>outside_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>supermarket2_160</string><key>picture</key><string>supermarket2_768</string><key>display-text</key><string>supermarkt</string><key>speech-text</key><string>Ik wil gaan winkelen</string><key>speech</key><string>supermarket2_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>swimmingpool2_160</string><key>picture</key><string>swimmingpool2_768</string><key>display-text</key><string>zwembad</string><key>speech-text</key><string>Kan ik gaan zwemmen</string><key>speech</key><string>swimmingpool2_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>trainstation_160</string><key>picture</key><string>trainstation_768</string><key>display-text</key><string>treinstation</string><key>speech-text</key><string>Ik wil naar het station</string><key>speech</key><string>trainstation_768</string></dict>
</dict></dict>


<key>stream-7</key><dict><key>name</key><string>Clothes</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>cap_160</string><key>picture</key><string>cap_768</string><key>display-text</key><string>pet</string><key>speech-text</key><string>Ik wil een pet</string><key>speech</key><string>cap_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>coat_160</string><key>picture</key><string>coat_768</string><key>display-text</key><string>jas</string><key>speech-text</key><string>Ik wil een jas</string><key>speech</key><string>coat_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>dress_160</string><key>picture</key><string>dress_768</string><key>display-text</key><string>jurk</string><key>speech-text</key><string>Ik wil graag een jurk</string><key>speech</key><string>dress_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>hat_160</string><key>picture</key><string>hat_768</string><key>display-text</key><string>muts</string><key>speech-text</key><string>Ik heb een hoed</string><key>speech</key><string>hat_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>hooded-top_160</string><key>picture</key><string>hooded-top_768</string><key>display-text</key><string>trui met capuchon</string><key>speech-text</key><string>Ik wil graag een trui met capuchon</string><key>speech</key><string>hooded-top_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>jacket_160</string><key>picture</key><string>jacket_768</string><key>display-text</key><string>jas</string><key>speech-text</key><string>Ik wil een jas</string><key>speech</key><string>jacket_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>jeans_160</string><key>picture</key><string>jeans_768</string><key>display-text</key><string>spijkerbroek</string><key>speech-text</key><string>Ik wil een spijkerbroek</string><key>speech</key><string>jeans_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>jogging-bottoms_160</string><key>picture</key><string>jogging-bottoms_768</string><key>display-text</key><string>joggingbroek</string><key>speech-text</key><string>Ik wil een joggingbroek</string><key>speech</key><string>jogging-bottoms_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>jumper_160</string><key>picture</key><string>jumper_768</string><key>display-text</key><string>trui</string><key>speech-text</key><string>Ik wil een jumper</string><key>speech</key><string>jumper_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>pyjamas_160</string><key>picture</key><string>pyjamas_768</string><key>display-text</key><string>pyjama</string><key>speech-text</key><string>Ik wil mijn pyjama</string><key>speech</key><string>pyjamas_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>runners_160</string><key>picture</key><string>runners_768</string><key>display-text</key><string>sportschoenen</string><key>speech-text</key><string>Ik wil mijn sportschoenen aan</string><key>speech</key><string>runners_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>shoes_160</string><key>picture</key><string>shoes_768</string><key>display-text</key><string>schoenen</string><key>speech-text</key><string>Ik wil schoenen aan</string><key>speech</key><string>shoes_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>shorts_160</string><key>picture</key><string>shorts_768</string><key>display-text</key><string>korte broek</string><key>speech-text</key><string>Ik wil een korte broek aan</string><key>speech</key><string>shorts_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>skirt_160</string><key>picture</key><string>skirt_768</string><key>display-text</key><string>rok</string><key>speech-text</key><string>Ik wil een rok</string><key>speech</key><string>skirt_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>socks_160</string><key>picture</key><string>socks_768</string><key>display-text</key><string>sokken</string><key>speech-text</key><string>Ik wil sokken</string><key>speech</key><string>socks_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>sunglasses_160</string><key>picture</key><string>sunglasses_768</string><key>display-text</key><string>zonnebril</string><key>speech-text</key><string>Ik wil een zonnebril</string><key>speech</key><string>sunglasses_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>swim-suit_160</string><key>picture</key><string>swim-suit_768</string><key>display-text</key><string>zwempak</string><key>speech-text</key><string>Ik heb een badpak</string><key>speech</key><string>swim-suit_768</string></dict>
<key>image-18</key><dict><key>thumbnail</key><string>swiming-shorts_160</string><key>picture</key><string>swiming-shorts_768</string><key>display-text</key><string>zwembroek</string><key>speech-text</key><string>Ik wil een zwembroek</string><key>speech</key><string>swiming-shorts_768</string></dict>
<key>image-19</key><dict><key>thumbnail</key><string>t-shirt_160</string><key>picture</key><string>t-shirt_768</string><key>display-text</key><string>t-shirt</string><key>speech-text</key><string>Ik wil een t-shirt</string><key>speech</key><string>t-shirt_768</string></dict>
<key>image-20</key><dict><key>thumbnail</key><string>trousers_160</string><key>picture</key><string>trousers_768</string><key>display-text</key><string>lange broek</string><key>speech-text</key><string>Ik wil een lange broek</string><key>speech</key><string>trousers_768</string></dict>
<key>image-21</key><dict><key>thumbnail</key><string>underpants_160</string><key>picture</key><string>underpants_768</string><key>display-text</key><string>onderbroek</string><key>speech-text</key><string>Ik wil mijn onderbroek</string><key>speech</key><string>underpants_768</string></dict>
<key>image-22</key><dict><key>thumbnail</key><string>underwear_160</string><key>picture</key><string>underwear_768</string><key>display-text</key><string>ondergoed</string><key>speech-text</key><string>Ik wil mijn ondergoed</string><key>speech</key><string>underwear_768</string></dict>
</dict></dict>





<key>stream-8</key><dict><key>name</key><string>Objects</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>bag_160</string><key>picture</key><string>bag_768</string><key>display-text</key><string>tas</string><key>speech-text</key><string>Ik wil een tas</string><key>speech</key><string>bag_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>ball2_160</string><key>picture</key><string>ball2_768</string><key>display-text</key><string>bal</string><key>speech-text</key><string>Ik wil een bal</string><key>speech</key><string>ball2_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>blanket_160</string><key>picture</key><string>blanket_768</string><key>display-text</key><string>deken</string><key>speech-text</key><string>Ik wil graag een deken</string><key>speech</key><string>blanket_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>bowl_160</string><key>picture</key><string>bowl_768</string><key>display-text</key><string>kom</string><key>speech-text</key><string>Mag ik een kom</string><key>speech</key><string>bowl_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>coffeecup_160</string><key>picture</key><string>coffeecup_768</string><key>display-text</key><string>coffeecup</string><key>speech-text</key><string>Ik wil graag een kopje koffie</string><key>speech</key><string>coffeecup_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>cup_160</string><key>picture</key><string>cup_768</string><key>display-text</key><string>beker</string><key>speech-text</key><string>Ik wil graag een beker</string><key>speech</key><string>cup_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>deodorant_160</string><key>picture</key><string>deodorant_768</string><key>display-text</key><string>deo</string><key>speech-text</key><string>Ik moet deodorant</string><key>speech</key><string>deodorant_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>fork_160</string><key>picture</key><string>fork_768</string><key>display-text</key><string>vork</string><key>speech-text</key><string>Ik wil een vork</string><key>speech</key><string>fork_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>hairbrush_160</string><key>picture</key><string>hairbrush_768</string><key>display-text</key><string>haarborstel</string><key>speech-text</key><string>Ik wil een haarborstel</string><key>speech</key><string>hairbrush_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>headphones_160</string><key>picture</key><string>headphones_768</string><key>display-text</key><string>hoofdtelefoon</string><key>speech-text</key><string>Mag ik een hoofdtelefoon</string><key>speech</key><string>headphones_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>knife_160</string><key>picture</key><string>knife_768</string><key>display-text</key><string>mes</string><key>speech-text</key><string>Ik wil een mes</string><key>speech</key><string>knife_768</string></dict>
<key>image-12</key><dict><key>thumbnail</key><string>pillow_160</string><key>picture</key><string>pillow_768</string><key>display-text</key><string>kussen</string><key>speech-text</key><string>Ik wil graag een kussen</string><key>speech</key><string>pillow_768</string></dict>
<key>image-13</key><dict><key>thumbnail</key><string>plate_160</string><key>picture</key><string>plate_768</string><key>display-text</key><string>bord</string><key>speech-text</key><string>Ik wil een bord</string><key>speech</key><string>plate_768</string></dict>
<key>image-14</key><dict><key>thumbnail</key><string>shampoo_160</string><key>picture</key><string>shampoo_768</string><key>display-text</key><string>shampoo</string><key>speech-text</key><string>Ik wil graag shampoo</string><key>speech</key><string>shampoo_768</string></dict>
<key>image-15</key><dict><key>thumbnail</key><string>soap_160</string><key>picture</key><string>soap_768</string><key>display-text</key><string>zeep</string><key>speech-text</key><string>Ik wil graag zeep</string><key>speech</key><string>soap_768</string></dict>
<key>image-16</key><dict><key>thumbnail</key><string>spoon_160</string><key>picture</key><string>spoon_768</string><key>display-text</key><string>lepel</string><key>speech-text</key><string>Ik wil een lepel</string><key>speech</key><string>spoon_768</string></dict>
<key>image-17</key><dict><key>thumbnail</key><string>toiletpaper_160</string><key>picture</key><string>toiletpaper_768</string><key>display-text</key><string>toiletpapier</string><key>speech-text</key><string>Ik heb wc-papier nodig</string><key>speech</key><string>toiletpaper_768</string></dict>
<key>image-18</key><dict><key>thumbnail</key><string>toothbrush_160</string><key>picture</key><string>toothbrush_768</string><key>display-text</key><string>tandenborstel</string><key>speech-text</key><string>Ik heb mijn tandenborstel nodig</string><key>speech</key><string>toothbrush_768</string></dict>
<key>image-19</key><dict><key>thumbnail</key><string>toothpaste_160</string><key>picture</key><string>toothpaste_768</string><key>display-text</key><string>tandpasta</string><key>speech-text</key><string>Heb je tandpasta voor me?</string><key>speech</key><string>toothpaste_768</string></dict>
<key>image-20</key><dict><key>thumbnail</key><string>towel_160</string><key>picture</key><string>towel_768</string><key>display-text</key><string>handdoek</string><key>speech-text</key><string>Ik wil een handdoek</string><key>speech</key><string>towel_768</string></dict>
</dict></dict>


<key>stream-9</key><dict><key>name</key><string>Feelings</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>I-am-angry_160</string><key>picture</key><string>I-am-angry_768</string><key>display-text</key><string>Ik ben boos</string><key>speech-text</key><string>Ik ben boos</string><key>speech</key><string>I-am-angry_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>I-am-bored_160</string><key>picture</key><string>I-am-bored_768</string><key>display-text</key><string>Ik verveel me</string><key>speech-text</key><string>Ik verveel me</string><key>speech</key><string>I-am-bored_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>I-am-happy_160</string><key>picture</key><string>I-am-happy_768</string><key>display-text</key><string>Ik ben blij</string><key>speech-text</key><string>Ik ben blij</string><key>speech</key><string>I-am-happy_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>I-am-not-ok_160</string><key>picture</key><string>I-am-not-ok_768</string><key>display-text</key><string>Niet ok</string><key>speech-text</key><string>Niet ok</string><key>speech</key><string>I-am-not-ok_768</string></dict>
<key>image-5</key><dict><key>thumbnail</key><string>I-am-ok_160</string><key>picture</key><string>I-am-ok_768</string><key>display-text</key><string>OK</string><key>speech-text</key><string>OK</string><key>speech</key><string>I-am-ok_768</string></dict>
<key>image-6</key><dict><key>thumbnail</key><string>I-am-sad_160</string><key>picture</key><string>I-am-sad_768</string><key>display-text</key><string>Ik ben verdrietig</string><key>speech-text</key><string>Ik ben verdrietig</string><key>speech</key><string>I-am-sad_768</string></dict>
<key>image-7</key><dict><key>thumbnail</key><string>I-am-sick_160</string><key>picture</key><string>I-am-sick_768</string><key>display-text</key><string>Ik ben ziek</string><key>speech-text</key><string>Ik ben ziek</string><key>speech</key><string>I-am-sick_768</string></dict>
<key>image-8</key><dict><key>thumbnail</key><string>I-am-tired_160</string><key>picture</key><string>I-am-tired_768</string><key>display-text</key><string>Ik ben moe</string><key>speech-text</key><string>Ik ben moe</string><key>speech</key><string>I-am-tired_768</string></dict>
<key>image-9</key><dict><key>thumbnail</key><string>I-am-too-cold_160</string><key>picture</key><string>I-am-too-cold_768</string><key>display-text</key><string>Ik heb het koud</string><key>speech-text</key><string>Ik heb het koud</string><key>speech</key><string>I-am-too-cold_768</string></dict>
<key>image-10</key><dict><key>thumbnail</key><string>I-am-too-hot_160</string><key>picture</key><string>I-am-too-hot_768</string><key>display-text</key><string>Ik heb het te warm</string><key>speech-text</key><string>Ik heb het te warm</string><key>speech</key><string>I-am-too-hot_768</string></dict>
<key>image-11</key><dict><key>thumbnail</key><string>I-am-worried_160</string><key>picture</key><string>I-am-worried_768</string><key>display-text</key><string>Ik maak me zorgen</string><key>speech-text</key><string>Ik maak me zorgen</string><key>speech</key><string>I-am-worried_768</string></dict>
</dict></dict>

<key>stream-10</key><dict><key>name</key><string>Everyday conversation</string><key>images</key><dict>
<key>image-1</key><dict><key>thumbnail</key><string>hello_160</string><key>picture</key><string>hello_768</string><key>display-text</key><string>hallo</string><key>speech-text</key><string>hallo</string><key>speech</key><string>hello_768</string></dict>
<key>image-2</key><dict><key>thumbnail</key><string>howareyou_160</string><key>picture</key><string>howareyou_768</string><key>display-text</key><string>hoe gaat het?</string><key>speech-text</key><string>hoe gaat het?</string><key>speech</key><string>howareyou_768</string></dict>
<key>image-3</key><dict><key>thumbnail</key><string>thankyou_160</string><key>picture</key><string>thankyou_768</string><key>display-text</key><string>dank</string><key>speech-text</key><string>dank</string><key>speech</key><string>thankyou_768</string></dict>
<key>image-4</key><dict><key>thumbnail</key><string>goodbye_160</string><key>picture</key><string>goodbye_768</string><key>display-text</key><string>tot ziens</string><key>speech-text</key><string>Tot ziens</string><key>speech</key><string>goodbye_768</string></dict>
</dict></dict>





</dict></dict></plist>